@import './assets/styles/base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background-color: #F8FAFC;
  color: #1E293B;
  font-family: system-ui, -apple-system, sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
